header {
  display: flex;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background: #1c2126;
  color: #ffffff;
  font-size: 1rem;
  padding: 15px;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.logo:hover {
  background-color: rgba(216, 216, 216, 0.5);
  padding: 1rem;
  cursor: pointer;
}

header .fa-bars {
  color: #ffffff;
  text-decoration: none;
}
